/* LAYOUT ***************************************************************/
@import url("https://niagaradocs.github.io/dita-techdocs/styles/typography.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/cover_responsive.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/orientation_size.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/blanks.css");
/* @import url("https://niagaradocs.github.io/dita-techdocs/styles/breaks.css#DISABLED"); */
@import url("https://niagaradocs.github.io/dita-techdocs/styles/table_of_contents.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_color.css");

@import url("https://niagaradocs.github.io/dita-techdocs/styles/header_footer_alternate.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_formatting.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_ordered_list_unordered_list_step_substep_choice.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_choices_steps_substeps_numbering.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_chapter_numbering.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara-notes.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_titles.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/figure_image.css");

/* Targeting only images inside the .ph.cmd to ensure they stay inline */
.ph.cmd img.image {
    display: inline;       /* Keeps the image as part of the inline text flow */
    vertical-align: middle; /* Aligns the image with the middle of the text line */
    margin: 0 4px;         /* Adds horizontal spacing for visual separation */
}
