/* LAYOUT ***************************************************************/
@import url("https://niagaradocs.github.io/dita-techdocs/styles/typography.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/cover_responsive.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/orientation_size.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/blanks.css");
/* @import url("https://niagaradocs.github.io/dita-techdocs/styles/breaks.css#DISABLED"); */
@import url("https://niagaradocs.github.io/dita-techdocs/styles/color.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/table_of_contents.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/header_footer_alternate.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_ordered_list_unordered_list_step_substep_choice.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/niagara_choices_steps_substeps_numbering.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/note.css");
@import url("https://niagaradocs.github.io/dita-techdocs/styles/title.css");

    /* Style the cover page title. */
    .title-text .title, .title-text .title .ph {
        color: #000;
        font-family: "Avenir", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 800;
        text-align: right;
        font-size: 30pt;
        line-height: 20pt;
        letter-spacing: 0pt;
        margin-top: 1.75in;
        height: auto;
        word-wrap: break-word; /* Should you need to wrap long words, set to break-word */
        background-color: aquamarine;
        
      }
      
