/* Alternating header footers */

/* TABLE OF CONTENTS */
@page toc:left{
    @bottom-left {
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;
    }
    @bottom-right {
        content: string(revision-date);
        text-align: right;
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
    }
	@top-right{
		content: "{map.title}";
		line-height: 1em;
		font-weight: 400;
		color: #000;
		font-size: 8pt;
		letter-spacing: 0.025em;
	}
    @top-left{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{map.topic.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
}


@page toc:right {
    @bottom-right {
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;        
    }
    @bottom-left{
        content: string(revision-date);
        letter-spacing: 0.025em;
		color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;
	}
	@top-right{
		content: "{map.title}";
		line-height: 1em;
		font-weight: 400;
		color: #000;
		font-size: 8pt;
		letter-spacing: 0.025em;
	}
    @top-left{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
}

/* DOCUMENT BODY */
@page:left{
    @top-right{
        content: "Company Name";
        line-height: 1em;
        font-weight: 400;
        color: #000;
        font-size: 8pt;
        letter-spacing: 0.025em;
        }
    @top-left{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        font-style: normal;
        border: none;
        background-color: #fff;
        font-size: 8pt;
        font-weight: 400;
    }
    @bottom-right {
        font-size: 8pt;
        border: none;
        background-color: #fff;
        font-weight: 400;
        content: "Date";
        letter-spacing: 0.025em;
    }
}

@page:right{
    @top-left{
        content: "{map.title}";
        line-height: 1em;
        font-weight: 400;
        color: #000;
        font-size: 8pt;
        letter-spacing: 0.025em;    }
    @top-right{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{chapter.title}";
        letter-spacing: 0.025em;
        
        text-align: right;
        line-height: 1em;
    }
    @bottom-right{
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        font-style: normal;
        border: none;
        background-color: #fff;
        font-size: 8pt;
        font-weight: 400;
      }
    @bottom-left{
        border: none;
        background-color: #fff;
        font-size: 8pt;
        font-style: normal;
        font-weight: normal;
        color: #000;
        font-weight: 400;
        content: "Date";
        letter-spacing: 0.025em;
    }
}
/************* Map title customization for header and footer ************* /
/* Generate a map title in the header. */
.revision-date {
    string-set: revision-date content();
	display: none;
}
	
@page:left {
    @top-right {
        content: "{map.title}"; /* working only when in Heretto editor */
        }
    @top-left {
        content: "{chapter.title}";
        }
    @bottom-right {
        content: string(revision-date);
        text-align: right;
	}
    @bottom-left {
        font-size: 8pt;
        font-weight: 400; 
        }        
}


@page:right {
    @top-right {
    }
    @top-left {
        content: "{map.title}";
        } 
	@bottom-right {
	}
    @bottom-left {
        content: string(revision-date);
        text-align: left;
    }
}
