/* Capture doc title string and date for the header. */
.cover-page-container .cover-page-content .title-text .title.topictitle1 {
    string-set: document-title content(text);
}
.revision-date {
    string-set: revision-date content();
	display: none;
}
article h1.title.topictitle1 {
    string-set: chapter-title content();
    break-before: right;
}
h2.title.sectiontitle {
    font-size: 11pt;
    font-weight: 800;
    padding-top: 0.1in;
}
/* Level-2 (subchapter) and deeper. */
nav ul li ul li {
    padding-left: 0.875in;
}

/* PREFACE PAGE START */
#ariaid-title2 {
    break-before: page; /* Ensure it starts on a new page */
    -prince-page-group: start; /* Start a new page group */
    page: preface; /* Assign a named page for special styling */
}

/* Define styles for the preface named page */
@page preface:left{
    @top-left{
    	content: ""; }
    @top-right{
    	content: string(document-title);
	}
    @bottom-left {
        content: counter(page);
    }
    @bottom-right {
        content: string(revision-date);
        text-align: right;
    }
}

@page preface:right {
    @top-left{
		content: "";
    }
	@top-right{
		content: "";
	}
    @bottom-left{
        content: string(revision-date);
        text-align: left;
	}    
    @bottom-right {
        content: counter(page);      
    }
}
/* Start MAIN DOCUMENT CHAPTERS ********/
/* Target "chapter_start" main document */
#ariaid-title5 {
    /* break-before: page; */ /* Ensure it starts on a new page */
    -prince-page-group: start; /* Start a new page group */
    page: main_document; /* Assign a named page for special styling */
}

/* Alternating header footers */

/*********** MAIN PAGE HEADER FOOTER ****************/
@page:left {
    @top-left {
        content: "Chapter " counter(section_level1) "     "string(chapter-title);
		margin-left: 0in;
        padding-left: 0in;
    }
    @top-right {
        content: "{map.title}";
        padding-right: 0in;
        margin-right:0.0n; 
    }
    @bottom-left {
        content: counter(page);
		margin-left: 0in;
        padding-left: 0in;
	}
    @bottom-right {
        content: string(revision-date);
		margin-right: 0in;
        padding-right: 0in;
    }
}
 @page:right {
    @top-left {
        content: "{map.title}";
        margin-left: 0in;
        padding-left: 0in;
    }
    @top-right {
        content: "Chapter " counter(section_level1) "     "string(chapter-title);
        margin-right: 0in;
        padding-right: 0n; 
    }
    @bottom-left {
        content: string(revision-date);
        text-align: right; 
        margin-left: 0.0in;
        padding-left: 0.0in;
    }
    @bottom-right {
        content: counter(page);
        margin-right:0.0in;
        padding-right: 0.0in;
    }
 }
/** TOC GROUP START PAGE **/
nav > ul:first-of-type {
    page: toc;
    -prince-page-group: start;
}
@page toc {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
}

/******* TABLE OF CONTENTS HEADER FOOTER ******/    
@page toc:left{
    @top-left{
    	content: "Contents";}
    @top-right{
    	content: string(document-title);
	}
    @bottom-left {
        content: counter(page);
    }
    @bottom-right {
        content: string(revision-date);
        text-align: right;
    }
}

@page toc:right {
    @top-left{
		content: string(document-title);
    }
	@top-right{
		content: "Contents";
	}
    @bottom-left{
        content: string(revision-date);
        text-align: left;
	}    
    @bottom-right {
        content: counter(page);      
    }
}
