/* LAYOUT *****************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/cover_responsive.css"); 
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/orientation_size.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/breaks.css");
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/blanks.css#DISABLED"); */
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/columns.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/fullpage.css");

/* STYLING ****************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/typography.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_of_contents.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/header_footer.css");
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_of_contents_page_numbering.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/header_footer_alternate.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_of_contents_page_numbering_alternate.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/chapter_numbering.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/figure_no_numbering.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_no_numbering.css#DISABLED"); */
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/image_borders.css");
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/image_shadows.css#DISABLED"); */
/* @import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/link_page_number.css#DISABLED"); */
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/hide_empty_elements.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/formatting.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/suggestions.css");

/* DITA *******************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/footnote.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/paragraph.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/filepath_sysoutput_userinput_varname.css"); 
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/uicontrol_wintitle_shortcut_menucascade.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/abstract_shortdesc.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/note.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/xref_related_links.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/codeblock_codeph.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/figure_image.css"); 
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/description.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/definition_list.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/cite_long_quote_quote.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/title.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/section.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/ordered_list_unordered_list_step_substep_choice.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/cause_condition_context_example_postreq_prereq_remedy_result_steps_stepsection.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choices_info_stepresult_stepexample_solution_substeps_troublesolution.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choices_steps_substeps_numbering.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choicetable_table.css");

/* Palette ******************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/palette/color.css");

/* Fonts *********************************************************** */

@font-face {
    font-family: "Avenir";
	src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTSTD-ROMAN.OTF") format("truetype");
    font-weight: 400; /* LT STD 55 Roman */
    font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTCOM-MEDIUM.TTF") format("truetype");
    font-weight: 500; /* LT STD 65 */
    font-style: normal;
}
 @font-face {
    font-family: "Avenir Heavy";
	src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTCOM-HEAVY.TTF") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Avenir Heavy';
    src: local('Avenir Heavy'), url('file:///C:/Windows/Fonts/AVENIRLTCOM-HEAVY.TTF') format('truetype');
    font-weight: 800;
    font-style: normal;
}
*/
@font-face {
    font-family: "Avenir";
	src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTSTD-BLACK.OTF") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
	src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTCOM-LIGHT.TTF") format("truetype");
    font-weight: 300; /* Light */
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("https://s3.amazonaws.com/downloads.tridium.com/fonts/AVENIRLTCOM-LIGHTOBLIQUE.TTF") format("truetype");
    font-weight: 300;
    font-style: oblique;
}

/* Force custom document layout. */
@page {
    size: US-Letter portrait !important;
    margin-left: 1in; /* Default margin for all pages */
    margin-right: 0.75in;
}
@page :left {
    margin: 1in 0.75in; /* Applies to left pages */
    size: US-Letter portrait !important;
}

@page :right {
    margin: 1in 0.75in; /* Applies to right pages */
    size: US-Letter portrait !important;
}

@page :cover_page {
    margin: 1in 0.75in;
    size: US-Letter portrait !important;
    background-color: fff;
}


html, body {
  height: 100%;
  margin: 0in; /* Removing default margin */
  padding: 0in; /* Removing default padding */
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10pt; /* Standard body text */
  line-height: 1.5; /* Example line height, adjust for readability */
}

/* Differentiate the cover page from the TOC and the document body. */
.cover-page-container {
    prince-page-group: start;
    page: cover_page;
    counter-reset: page 1;
    background-color: #fff;  
    margin-top: 1in;
    page-break-after: always; /* Make the cover-page-container (h1) fill up the whole cover page. */
  }
  
.cover-page-content {
    align-content: right;
	text-align: right;
    background-color: #fff;    
      /* This will be 100% of the .cover-page-container's width */
    height: auto; /* Height is determined by the content inside this div */
  /* Additional styling */
}
div.cover-page-heading {
    color: rgb(38,128,216);
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    font-size: 30pt;
    line-height: 40px;
    word-wrap: normal; /* Should you need to wrap long words, set to break-word */
  }
  
    /* Style the cover page title. */
.title-text .title, .title-text .title .ph {
    color: #000;
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: right;
    font-size: 30pt;
    line-height: 20pt;
    letter-spacing: 0pt;
    margin-top: 1.75in;
	height: auto;
    word-wrap: break-word; /* Should you need to wrap long words, set to break-word */
    
  }

/* Style bookmeta metadata on the cover page DATE BLOCK*/
/* Style the map title on the cover page */
  div.title-text {
    color: red;
    font-style: normal;
    font-weight: 800;
    text-align: right;
    font-size: 80px;
    word-wrap: normal;

}

/* Style bookmeta metadata on the cover page DATE BLOCK*/
div.meta-value {
    font-family: "Avenir", Helvetica, Arial;
    color:#000;
    width: 100%;
	height: 100%;
    text-align: right;
    margin-top: 1.0in;
    padding-top: 8px;
}
div.bookmeta-metadata {
    font-family: "Avenir", Helvetica, Arial;
    color: #000;
    font-size: 14pt;
    font-weight: 900;
    line-height: 20pt;
	height: auto;
}  
  /* Style the bottom area of the cover. */
  .bottom-stripe {
    margin-top: 0.5in;
	display: block;
    clear: both;
    background-color: #f3f;
    height: 200px;
    width: 100%;
  }
  
  /* Define the space where a logo can be placed. */
.logo-container {
    display: block;
    background-color: #ff4;
    position: absolute;
    margin-top: 0.2in;
    right: 0;
    height: 150px;
    width: 350px;
}

  /* Define where the actual logo is placed in the <div class="logo-container"> */
  .logo {
    display: block;
    float: right;
  }

  /* REQUIRES: orientation_size.css */

/* TOC */
@page toc:left{
    @bottom-left{
        content: "Copyright © 2020-2021 Company Name";
        line-height: 1.5;
        color: #000;
        border: none;
        background-color: #fff;
        font-size:18px;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right {
        content: "";
        line-height: 1.5;
        border: none;
        background-color: #fff;
    }
}

@page toc:right{
    @bottom-left{
        content: "Copyright © 2020-2021 Company Name";
        line-height: 1.5;
        font-size:18px;
        color: #000;
        border: none;
        background-color: #fff;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right{
        content: "";
        line-height: 1.5;
        border: none;
        background-color: #fff;
    }
}

/* BODY */
@page:left{
    @top-right{
        content: "Niagara";
        letter-spacing: 0in;
        line-height: 1.5;
        font-weight: bold;
        color: #000;
        font-size: 18px;
    }
    @top-left{
        font-size: 18px;
        color: #000;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "{map.title}";
        line-height: 1.5;
    }
    @bottom-left{
        content: "date";
        line-height: 1.5;
        color: #000;
        font-style: normal;
        border: none;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 18px;
        border: none;
        background-color: #fff;
        font-style: normal;
        font-weight: normal;        
        font-size: 18px;
        color: #000;
        font-weight: bold;
        content: counter(page);
    }
}

@page:right{
    @top-right{
        content: "Company Name";
        line-height: 1.5;
        font-weight: bold;
        color: #000;
        font-size: 18px;
    }
    @top-left{
        font-size: 18px;
        color: #000;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "{map.title}";
        line-height: 1.5;
    }
    @bottom-left{
        content: "";
        line-height: 1.5;
        color: #000;
        font-style: normal;
        border: none;
        background-color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 18px;
        border: none;
        background-color: #fff;
        font-style: normal;
        font-weight: normal;        
        font-size: 18px;
        color: #000;
        font-weight: bold;
        content: counter(page);

    }
}