/* ========== Hold all page defs and prince page groups ========= */
  /* Differentiate the cover page from the TOC and the document body. */
/* Differentiate the cover page from the TOC and the document body. */
  .cover-page-container {
    -prince-page-group: start;
    page: cover_page;
    counter-reset: page 1;
  }  

  /* Legal page. */
div.legal_niagara_tridium {
    -prince-page-group: start;
      page:legal_page;
      margin-top: 0in;
      background-color: #fff;
      width: 100%;
      height: 100%;
      page-break-after: always;
  }

  /* PREFACE PAGE START */
.topic.reference.nested0, .topic.concept.nested0 {
    -prince-page-group: start; /* Start a new page group */
    page: preface; /* Assign a named page for special styling */
}

/* Start MAIN DOCUMENT CHAPTERS ********/

/* Chapter "chapter_start" main document Add more specificity to prioritize over preface page*/
article.topic.reference.nested0, article.topic.concept.nested0.chapter_start {
    -prince-page-group: start; /* Start a new page group */
    page: main; /* Assign a named page for special styling */
}

/** TOC GROUP START PAGE TOC definition **/

nav > ul:first-of-type {
    -prince-page-group: start;
    page: toc;
}
@page toc {

} 