/* TABLE OF CONTENTS (TOC) NUMBERING */
/* Level 1 (chapter-level) TOC numbering. */
html {
  counter-reset: section_level1;
}
nav ul {
  counter-reset: toc_level1;
}
nav ul li:before {
  counter-increment: toc_level1;
  content: "Chapter " counter(toc_level1) ". ";
}
/******** only number top level Chapter no sublevel numbering ****************/
nav ul ul {
  counter-reset: toc_level2;
}


/***DOCUMENT BODY NUMBERING***/
/* Level 1 (chapter-level) topic title numbering. */
article > .topictitle1:before {
  counter-increment: section_level1;
  content: "Chapter " counter(section_level1) ". ";
}
article > .topictitle1 {
  counter-reset: section_level2;
}

