/* Style unordered lists (including: steps-unordered, choices).
Align unordered lists with ordered lists. */
.ul {
  list-style: disc;
}

/* Add a paragraph-like margin before ordered and unordered lists. */
/*
ul, .ul,
.ol {
  margin-top: 0.05in;
  margin-left: 0.0in;
  padding: 0in;
}
*/
/* Set paragraph-like margins for list items. */
.li,
.li p,
.li .p {
  margin: 0.05in;
  padding: 0in;
}
*/

/* Style step, substep, and choice elements. */
.step,
.substep,
.choice {
  list-style-position: outside;
  margin-left: 33px;
}

/* Set margins between steps. */
.step {
  margin-top: 0.2in;
}

/* Set margins between choices and substeps. */
.substep,
.choice {
  margin-top: 2.5px;
}

/* Ensure that the breadcrumps spacing is not affected by any customizations for sites. */
.MuiBreadcrumbs-li {
  margin: 0px;
  padding: 0px;
}

/* Fix redundant padding on the left for sites. */
.steps,
.steps-unordered {
  padding: 0px;
}