/* Set the default layout for the whole document, including the:
 * Cover page
 * Table of content
 * Document body */
 @page {
    margin:0.75in;
    size: US-Letter portrait !important;
    background-color: fff;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 500;
}

@page:right {
    @top-right {
        margin-right: 0in;
        padding-right:0.0n; 
    }
    @top-left {
        margin-left:0.0in;
        padding-left: 0.0in;
    }
    @bottom-left {
        margin-left:0.0in;
        padding-left: 0.0in;
    }
    @bottom-right {
        margin-right:0.0in;
        padding-right: 0.0in;
    }
}
@page:left {
    @top-left {
		margin-left: 0in;
        padding-left: 0in;
    }
    @bottom-left {
		margin-left: 0in;
        padding-left: 0in;
	}
    @bottom-right {
		margin-right: 0in;
        padding-right: 0in;
    }
    @top-right {
        padding-right: 0in;
        margin-right:0.0n; 
    }	
}

/* TOC **************************************************************************/
nav > ul:first-of-type {
    page: toc;
    prince-page-group: start;
}
@page toc {
    size: US-Letter;
    margin: 0.75in;
    background-color: #fff;
}
@page toc:left{
    @bottom-left {
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;
    }
    @bottom-right {
        content: string(revision-date);
        text-align: right;
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
    }
	@top-right{
		content: "Company Name";
		line-height: 1em;
		font-weight: 400;
		color: #000;
		font-size: 8pt;
		letter-spacing: 0.025em;
	}
    @top-left{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
}

@page toc:right {
    @bottom-right {
        content: counter(page);
        letter-spacing: 0.025em;
        color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;        
    }
    @bottom-left{
        content: string(revision-date);
        letter-spacing: 0.025em;
		color: #000;
        border: none;
        background-color: #fff;
        font-size:8pt;
        font-style: normal;
        font-weight: 400;
	}
	@top-right{
		content: "Company Name";
		line-height: 1em;
		font-weight: 400;
		color: #000;
		font-size: 8pt;
		letter-spacing: 0.025em;
	}
    @top-left{
        font-size: 8pt;
        color: #000;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
}


/*** Fixes **************************************************************************/
/* Prevent items from overflowing the page. */
* {
    box-sizing: border-box;
    max-width: 100%;
}

/* Fix elements positioning. */
body, 
ul, 
ol, 
li, 
h1, 
h2, 
div {
    margin: 0px; 
    padding: 0px; 
    clear: both;
}

/* Fix lists position in the document body */
.ul:not(ul.choices, ul.steps-unordered),
.ol:not(ol.substeps, .steps) {
  list-style-position: outside;
  margin-left: 33px;
}

/* Fix issues with descriptions in step children elements */
.figdesc,
.tabledesc,
.figdesc > p,
.tabledesc > p {
  float: left;
}