/* Set the default layout for the whole document, including the:
 * Cover page
 * Table of content
 * Document body */
:root {
	--font-family-body: "Avenir", Arial, Helvetica, sans-serif;
    --font-size-body: 8pt;
	--font-weigh-normal: 500;
	--font-style-normal: normal;
    --text-color: #000;
    --letter-spacing: 0.025em;
    --background-color: #fff;
	--padding-body: 0in;
	--margin-body: 0in;
}

 @page, @page toc {
    margin:0.75in;
    size: US-Letter portrait !important;
    background-color: fff;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 500;
}

@page toc:left, @page toc:right, @page:left, @page:right {
    @bottom-left, @bottom-right, @top-left, @top-right {
        letter-spacing: var(--letter-spacing);
        color: var(--text-color);
        border: none;
        background-color: var(--background-color);
		font-family: var(--font-family-body);
        font-size: var(--font-size-body);
        font-style: var(--font-style-normal);
        font-weight: var(--font-weight-normal);
		padding: var(--padding-body);
    }
}
 
 
/* hiding for now 

@page:right {
    @top-right {
        margin-right: 0in;
        padding-right:0.0n; 
    }
    @top-left {
        margin-left:0.0in;
        padding-left: 0.0in;
    }
    @bottom-left {
        margin-left:0.0in;
        padding-left: 0.0in;
    }
    @bottom-right {
        margin-right:0.0in;
        padding-right: 0.0in;
    }
}
@page:left {
    @top-left {
		margin-left: 0in;
        padding-left: 0in;
    }
    @bottom-left {
		margin-left: 0in;
        padding-left: 0in;
	}
    @bottom-right {
		margin-right: 0in;
        padding-right: 0in;
    }
    @top-right {
        padding-right: 0in;
        margin-right:0.0n; 
    }	
}
*/
/** TOC definition ***For Header and Footer TOC see "header_footer_alternate.css" */
nav > ul:first-of-type {
    page: toc;
    prince-page-group: start;
}
@page toc {
    size: US-Letter;
    margin: 0.75in;
    background-color: #fff;
}

/************************* Fixes ****************************************************/
/* Prevent items from overflowing the page. */
 * {
    box-sizing: border-box;
    max-width: 100%;
}

/* Fix elements positioning. */
body, 
ul, 
ol, 
li, 
h1, 
h2, 
div {
    margin: 0px; 
    padding: 0px; 
    clear: both;
}

/* Fix lists position in the document body */
.ul:not(ul.choices, ul.steps-unordered),
.ol:not(ol.substeps, .steps) {
  list-style-position: outside;
  margin-left: 33px;
}

/* Fix issues with descriptions in step children elements */
.figdesc,
.tabledesc,
.figdesc > p,
.tabledesc > p {
  float: left;
}